"-Who are you?
-I am {name}!"</p>
"I live in {town} and I'm {years} years old."</p>

"I'm good at {skill1}, {skill2} and {skill3}"</p>

"I'm currently learning:"
abrir lista ordenada
Python
AWS
Data Modeling</p>

"You can find me at {email} or {url}"</p>